html{
    background-color: #95a5a6;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


form {
    width: 21.875em;
    margin: 0 auto;
    background-color: #ecf0f1;
    border-radius:0.3125em;
    box-shadow: 3px 3px 10px #333;
    padding: 1em;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

input,
label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    margin-bottom: .25em;
}

input{
    padding: .75em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid #bbb;
    font-size: 1em;
}

legend{
    padding: 1em;
    text-align: center;
    font-weight: bold;
    color: #454e4f;
    font-size: 1em;
    margin-bottom: .5em;
}

.login{
    color: #ecf0f1;
    text-shadow: 1px 1px 2px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black; 
}

.actions{
    display: flex;
    gap: 1em;
}

.botao{
    /* width: fit-content; */
    margin-left: auto;
    background-color: rgb(43, 42, 128);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(43, 42, 128, 0.616);   
}

.botao2{
    background-color: rgb(179, 21, 44);   
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    /* width: fit-content; */
}

.botao2:hover{
    background-color: rgba(179, 21, 44, 0.616);   
}