:root {
    --primary-color: rgb(58, 104, 183);
    --font-family: 'Roboto', sans-serif;
}

html {
    background-color: var(--primary-color);
    font-family: var(--font-family);
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapperContainer_form {
    width: 90%;
    height: 20em;
    min-width: 28.125em;
    max-width: 35em;
    background-color: #ffffff;
    padding: 1em;
    box-shadow: -10px 0px rgba(56, 75, 82, 0.63);

}

.wrapperContainer_fieldset {
    border: none;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.wrapperContainer_title {
    font-size: 2em;
    color: rgb(38, 68, 120);
    margin-bottom: 10px;
}



.wrapperContainer_label {
    text-transform: uppercase;
    font-size: .8em;
    color: #7e7e7e;
    margin: 10px 0;
    /* font-weight: bold; */
}


.wrapperContainer_input:invalid:focus {
    border-bottom: 2px solid #ff000d80;
}

.wrapperContainer_input:valid:focus {
    border-bottom: 2px solid #0ec72a80;
}


.wrapperContainer_input {
    font-size: 1.1rem;
    padding-left: .3rem;
    outline: none;
    border: 1px solid transparent;
    border-bottom-color: #7e7e7e;
}

.wrapperContainer_hero {
    margin-top: 2em;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.wrapperContainer_hero_banner {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.wrapperContainer_hero_banner_btn {
    padding: 8px 15px;
    background-color: var(--primary-color);
    border: none;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    font-family: var(--font-family);
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
    box-shadow: 3px 0px 18px #888888;
}

.wrapperContainer_hero_banner_btn:hover {
    background-color: rgb(38, 68, 120);
    transition: 0.1s;
}

.wrapperContainer_hero_banner a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}