
body {
    background-color: #e0dede;
    width: 80%;
    margin: auto;
    color: #474747;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #061761;
    text-align: center;
    background-color: #bebee9;
    margin-bottom: 0;
}



h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #061761;
    border-bottom: 2px solid;
    text-align: left;
    background-color: #c8c8cf;
    padding: 10px;

}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: small;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

strong {
    color: #1f1fa5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
}

.p1{
    text-align: center;
}

.subtitle {
    margin-top: 0;
    background-color: #e1e1ff;

}

.p2 {
    font-weight: lighter;
}


li {
    list-style-type: none ;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
        text-align: right;
}

.menu button{
    border-radius: 10px;
    padding: 0px;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
      
}

.menu li{
    display: inline-block;
    padding: 0px;
}

.menu a{
    background-color: #fffbfb;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
}

.menu a:hover {
    background-color: #474747;
    color: #ffffff;
    transition: 0.4s all;
}


