*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





:root {
    /* cria variavel no css! */
    --primary-color: #FED001;
}

html {
    /* font-size: 62.5%; facilita para que 1rem == 10px
    /* font-family: 'Inter', sans-serif;
     font-weight: 400; */

    font: 400 62.5% 'Inter', sans-serif;
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    color: inherit;
    /*(herda a herança) */
}

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 1.6rem 4.6rem;
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.btn:hover {
    background-color: #fed0019f;
}

.wrapperContainer {
    padding-top: 1px;
}

.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.section_title {
    padding: 7rem 0;
    margin: 0;
    text-align: center;
}

.section_btn {
    margin: 7rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
    
}

.wrapperContainer_fixed{
    position: sticky; /*(permite que o menu fique fixo sem tirar o conteúdo do mesmo "plano") */
    width: 100%;
    top: 0;
    left: 0;
}

.header_nav a {
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.header_nav ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
}


.header_nav a:hover {
    background-color: black;
}

.wrapperContainer-hero {
    background-image: linear-gradient(transparent, rgb(250, 250, 68));
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}


.hero_title {
    margin-bottom: 4rem;
}

.cursos {
    text-align: center;
}

.cursosContainer {
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso_card {
    flex: 1;
}

.curso_card img {
    display: block;
    width: 100%;
}

.curso_card h3 {
    font-size: 2.4rem;
    margin: 2.5rem 0;
}

.curso_card p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content {
    padding: 1rem 1.25rem;
    border-radius: 0 0 8px 8px;
    border: 1px solid #e2e2e2;
    border-top: transparent;
}

.escola {
    display: flex;
    padding: 8rem 0 0;
    gap: 6rem;
}

.escola_title {
    font-family:'Inter', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3.2rem;
}

.escola_content p {
    font-family:'Inter', sans-serif;
    line-height: 4.5rem;
    padding: 1rem 1.25rem;
}

.wrapperContainer-banner {
    background-color: #fafafa;
}

.contatos {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 4.5rem;
}

.contato_address {
   
    font: normal 400 1.8rem 'Inter', sans-serif;
    text-align: right;
    line-height: 2.5rem;
    padding: 3rem 0;
}

.rodape{
    font: normal 400 1.8rem 'Inter', sans-serif;
    padding: 3rem;
    text-align: center;
}

.wrapperContainer-padded{
    padding-top: 12rem;
}